<h1>Loan Form</h1>
<% if !@book.loaned %>
    <%= form_for @book, url: loan_path do |f| %>
    <%users = User.all - [current_user]%>
    Loan to: <%= f.collection_select :loaned_to, users, :id, :username %>
    <%= f.submit %>
    <% end %>
<% else %>
    <p>Book currently loaned to <%=link_to @book.loanee_name, user_path(@book.users.last)%>.</p>
<% end %>