<h2>Hello, <%=@user.username%>!</h2>

<h4> Your Libraries: </h4>
    <ul>
        <% @user.libraries.each do |lib| %>
            <li><%= link_to lib.name, library_path(lib) %>
        <% end %>
    </ul>
